<article
  class="flex flex-col-reverse md:flex-row flex-wrap md:flex-nowrap gap-x-4 justify-center items-center"
>
  <p>
    With over two years of experience in dynamic start-up environments, I am a
    Full Stack Developer specializing in creating and optimizing comprehensive
    web solutions. My expertise spans front-end and back-end development,
    leveraging technologies such as JavaScript, Ruby, and Node.js to build
    robust and scalable applications. My background in administrative and
    product development roles enhances my ability to deliver innovative and
    efficient solutions. I thrive in fast-paced, collaborative settings and am
    dedicated to driving growth and efficiency through tailored web development
    projects.
  </p>
  <img
    class="rounded-full size-60 mt-8 mb-8"
    src="/public/sergio-herrera.webp"
    alt="Photo of SergioTech, Full Stack Developer"
  />
</article>
